{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"globals": {
		"confirm": "readonly",
		"jQuery": "readonly",
		"eauthCommonConfig": "readonly",
		"EmailAuthPlugin": "readonly",
		"EAUTHRadioDependentListener": "readonly",
		"CSS":"readonly",
		"ResizeObserver": "readonly"
	},
	"rules": {
		"no-alert": ["off"]
	}
}